.categories .manageCategories {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.categories .manageCategories button {
    background-color: var(--main-bg-color);
    color: white;
}