.Product {
    color: white;
    width: 100%;
    border-radius: 12px;
}

.Product img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover;
}

.Product h2 {
    color: black;
    text-align: center;
    margin: 15px 0px;
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 600px) {
    .Product img {
        height: 260px !important;
    }
}