.MainProductCard {
    color: white;
    width: 100%;
    border-radius: 4px;
}

.MainProductCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}

.MainProductCard img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.MainProductCard h2 {
    color: black;
    margin: 6px 0px;
    font-size: 21px;
}

.MainProductCard p {
    color: var(--main-bg-color);
    margin-bottom: 6px;
}